{% extends 'base.html' %}
{% load static %}
{% block 'conteudo' %}

<div class="menu-spacing"></div>

<section  class="main-faq">    
    <div class="text-faq main-content">
        <h1>Perguntas Frequentes</h1>
    </div>   
</section>
<section class="section grid-faq questions-faq">
    <div class="grid-faq-left">
        <div class="questions">
            <h5>QUAL A IDADE MÍNIMA PARA ESTUDAR NA MJK ESCOLA DE MÚSICA?</h5>
            <p><span>R: </span>Crianças a partir dos 6 anos de idade.</p>
        </div>
        <div class="questions">
            <h5>QUAL ESTILO MUSICAL VOU APRENDER?</h5>
            <p><span>R: </span>Não focamos somente em um estilo musical apresentaremos todos os estilos populares da música.</p>
        </div>
        <div class="questions">
            <h5>EU PRECISO JÁ SABER TOCAR OU TER O DOM DA MÚSICA PARA APRENDER?</h5>
            <p><span>R: </span>Não, qualquer um pode desenvolver habilidades para tocar um instrumento basta ter o desejo de aprender.</p>
        </div>
        <div class="questions">
            <h5>PRECISO SABER LER PARTITURA PARA COMEÇAR A ESTUDAR?</h5>
            <p><span>R: </span>Não, o ensino de partitura ou qualquer outra linguagem musical fica por nossa conta.</p>
        </div>
        <div class="questions">
            <h5>TENHO VERGONHA DE TOCAR EM PÚBLICO, SOU MUITO TIMÍDO?</h5>
            <p><span>R: </span>Não tem problema, nós ajudamos a desenvolver tanto a parte musical quanto a postura no palco e trabalho em grupo.</p>
        </div>
        <div class="questions">
            <h5>JÁ SEI TOCAR UM POUCO PRECISO INICIAR PELO MODULO BÁSICO 1?</h5>
            <p><span>R: </span>Antes de se matricular em um módulo, faremos uma avaliação em uma aula experimental para saber em qual nível você se encaixa.</p>
        </div>
    </div>
    <div class="grid-faq-right">
        <div class="questions">
            <h5>PRECISO TER UMA BANDA OU UM GRUPO PARA DESENVOLVER MUSICALIDADE?</h5>
            <p><span>R: </span>Aqui na MJK Escola de música incentivamos tocar com outras pessoas, mas apoiamos e incentivamos os que desejam fazer carreira solo ou tocar somente por hobby.</p>
        </div>
        <div class="questions">
            <h5>TENHO QUE TER O INSTRUMENTO PARA INICIAR MEUS ESTUDOS?</h5>
            <p><span>R: </span>Caso não possua um instrumento recomendamos ao máximo adquiri-lo o quanto antes, mas as aulas ministradas na escola fornecemos durante as aulas o instrumento de estudo.</p>
        </div>
        <div class="questions">
            <h5>QUAL A DURAÇÃO DO CURSO?</h5>
            <p><span>R: </span>Depende do empenho e desenvolvimento do aluno. Cada módulo tem previsão de término de 6 meses cada.</p>
        </div>
        <div class="questions">
            <h5>QUAIS AS MODALIDADES DE AULA QUE A ESCOLA OFERECE?</h5>
            <p><span>R: </span>Na MJK Escola de música você pode optar por aulas individuais ou em grupos de no máximo 5 alunos podendo ser na escola, em sua casa, condomínio, igreja. Enviem-nos uma mensagem e confira os preços e condições.</p>
        </div>
        <div class="questions">
            <h5>O QUE EU GANHO SE ME MATRICULAR HOJE?</h5>
            <p><span>R: </span>Matricule-se hoje e estaremos disponibilizando a apostila do primeiro semestre grátis.</p>
        </div>
        <div class="questions">
            <h5>QUERO SABER MAIS SOBRE A MJK ESCOLA DE MÚSICA?</h5>
            <p><span>R: </span>Entre em contato conosco e termos o prazer em atende-los.</p>
        </div>
    </div>
</section>

{% endblock %}