{% extends 'base.html' %}
{% load static %}
{% block 'conteudo' %}

<div class="menu-spacing"></div>

<section  class="white-bg">    
    <div class="main-content">
        <h1>Metodologia</h1>
    </div>
    <div class="grid-met">   
        <div class="main-mb1"></div>
        <div class="text-met">
            <h3>Módulo Básico 1</h3>
            <p>Módulo inicial para quem vai ter o primeiro contato com o instrumento. Aqui o aluno aprende a base de seu instrumento e começa a montar o seu primeiro repertório.<br>É o momento de primordial para se trancar no quarto e estudar até dormir com o instrumento.</p>
        </div>
        
        <div class="text-met">
            <h3>Módulo Básico 2</h3>
            <p>Esse módulo é um complemento do módulo anterior. Aqui o aluno alicerça a sua base, aprende novos conceitos musicais e começa a deixar o seu repertório mais sofisticado.<br>Nesse momento o aluno será capaz de tocar nas reuniões familiares.</p>
        </div>
        <div class="main-mb2"></div>

        <div class="main-m1"></div>
        <div class="text-met">
            <h3>Módulo 1</h3>
            <p>Aqui o aluno já é capaz de compreender a dinâmica do estudo em música e dará um salto para o nível intermediário do curso.<br>E nessa hora o aluno será capaz de deixar o seu repertório em um nível técnico mais apurado e estará apto a se apresentar para seu grupo de amigos e pequenos eventos.</p>
        </div>

        <div class="text-met">
            <h3>Módulo 2</h3>
            <p>Com a base do módulo anterior nesse módulo o aluno elevará o seu nível para outro patamar, compreendendo conceitos e técnicas desafiadoras.<br>Nesse momento da história o aluno já estará apto a subir nos palcos e ganhar a platéia.</p>
        </div>
        <div class="main-m2"></div>

        <div class="main-m3"></div>
        <div class="text-met">
            <h3>Módulo 3</h3>
            <p>Último módulo de nível intermediário/avançado e nessa fase o aluno já terá uma bagagem sólida e uma compreensão aprofundada de música. Escalas, acordes, progressões, cadências, composições, técnicas tudo o que os músicos de primeira classe possuem o aluno terá desenvolvido. E nessa fase os palcos do mundo será o limite.</p>
        </div>  
    </div>
</section>


{% endblock %}