{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block 'conteudo' %}

<div class="menu-spacing"></div>

<section  class="main-bateria section">    
    <div class="text-guitar main-content">
        <h1>Bateria</h1>
    </div>   
</section>

<section class="white-bg section">
    <div class="grid-curso">
        <div class="text-body grid-left-up">
            <h2>Aulas de Bateria</h2>
            <p>Chega de bater na mesa, nas panelas e venha aprender desenvolver sua técnica na bateria. Curso voltado aos amantes das baquetas, das viradas e dos solos marcantes.<br>
                Se você deseja ter um repertório vasto, eclético, compor suas próprias canções ou fazer cover daquele artista que ama. Mande-nos uma mensagem e conheça nossa grade.
            </p>
        </div>
        <div class="text-body grid-left-down">
            <h2>Conteúdo</h2>
            <p><strong>Aulas presenciais na escola ou no conforto do seu lar e também aulas online.</strong></p>
            <ul>
                <li>Fundamentos da bateria</li>
                <li>Rudimentos</li>
                <li>Alongamento e aquecimento</li>
                <li>leitura rítmica</li>
                <li>Técnicas: mão direita, mão esquerda, bumbo</li>
                <li>Frases</li>
                <li>Estilos musicais</li>
                <li>Levadas</li>
                <li>Deslocamentos</li>
                <li>E muito mais...</li>
            </ul>
        </div>
        <div class="grid-right-up-bateria">
            <img src="{% static 'img/bateria.png' %}" alt="Imagem de uma bateria">
        </div>
        <div class="grid-right-down form-courses">
            <h4>Horários, planos e outras informações</h4>

            <form method="POST" action="#bateria">
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
                
                {% for visible_field in form.visible_fields %}
                        {{ visible_field|as_crispy_field }}
                {% endfor %}

                <div class="g-recaptcha" data-sitekey="6LeSuY4hAAAAANRSGEm48t3QdFpHtb7HXXiFDa8A
                "></div>
                <br/>

                {% include 'partials/_messages.html' %}
                <input type="submit" class="btn-enviar" value="Enviar">
            </form>      
        </div>
    </div>
</section>

{% endblock %}