{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block 'conteudo' %}

<div class="menu-spacing"></div>

<section  class="main-violao section">    
    <div class="text-guitar main-content">
        <h1>Violão</h1>
    </div>   
</section>
<section class="white-bg section">
    <div class="grid-curso">
        <div class="text-body grid-left-up">
            <h2>Aulas de Violão</h2>
            <p>Curso voltado aos amantes das 6 cordas, dos acordes acrobáticos, dos rítmos mais variados e do instrumento mais popular do planeta.<br>
                Se você deseja ter um repertório vasto, eclético, compor suas próprias canções ou fazer cover daquele artista que ama. Mande-nos uma mensagem e conheça nossa grade.
            </p>
        </div>
        <div class="text-body grid-left-down">
            <h2>Conteúdo</h2>
            <p><strong>Aulas presenciais na escola ou no conforto do seu lar e também aulas online.</strong></p>
            <ul>
                <li>Fundamentos do violão</li>
                <li>Postura e posicionamento</li>
                <li>Notas no braço do instrumento</li>
                <li>Intervalos</li>
                <li>leitura: cifra, tablatura e partitura</li>
                <li>Técnicas: mão direita x mão esquerda</li>
                <li>Palhetadas, dedilhados, rítmos</li>
                <li>Escalas: pentatônicas, maiores e menores </li>
                <li>Acordes, arpejos, inversões</li>
                <li>Tríades abertas e fechadas</li>
                <li>Tétrades</li>
                <li>Campo harmônico</li>
                <li>Improvisação</li>
                <li>Repertório</li>
                <li>E muito mais...</li>
            </ul>
        </div>
        <div class="grid-right-up-violao">
            <img src="{% static 'img/violao_left.png' %}" alt="Imagem de uma guitarra">
        </div>
        <div class="grid-right-down form-courses">
            <h4>Horários, planos e outras informações</h4>

            <form method="POST" action="#envia_contatos">
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
                
                {% for visible_field in form.visible_fields %}
                        {{ visible_field|as_crispy_field }}
                {% endfor %}

                <div class="g-recaptcha" data-sitekey="6LeSuY4hAAAAANRSGEm48t3QdFpHtb7HXXiFDa8A
                "></div>
                <br/>

                {% include 'partials/_messages.html' %}
                <input type="submit" class="btn-enviar" value="Enviar">
            </form>      
        </div>
    </div>
</section>

{% endblock %}