.main-blog {
    padding: 8rem;
}

.column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-bottom: 0.75rem;
    padding: 4rem;
    color: var(--primary-color);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    text-align: center;
}

.card-img {
    width: 100%;
    max-height: 50rem;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    font-size: 30px;
    margin-bottom: 0.75rem;
}

.card-text:last-child {
    margin-bottom: 0;
}

.text-muted {
    color: #6c757d !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.btn-outline-info {
    color: var(--primary-color);
    border-bottom: solid 2px;
    border-color: var(--gold-color);
}

.btn-outline-info:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
    padding: 2rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: var(--white-color);
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: var(--white-color);
    border-color: #dee2e6;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

.col-xl .col-xl-8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.col-xl-8 img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80rem;
    min-width: 50rem;
}

.col-xl-8 p {
    text-align: center;
}

p.p-left {
    text-align: left;
}

div.row.items-center img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-width: 50rem;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

p.mb-1 {
    margin-bottom: 0.25rem !important;
    text-align: left;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.map {
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.map h4 {
    padding-top: 7rem;
    clear: both;
    padding-bottom: 2rem;
}

.map-iframe {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (max-width: 768px) {
    .column {
        grid-template-columns: 1fr;
    }
    
    .pagination {
        justify-content: flex-start;
    }
    
    .map h4 {
        padding-top: 2rem;
    }
}


/* Responsive columns - one column layout (vertical) on small screens */
{% comment %} @media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

@media (min-width: 576px) {
    .column {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 1.25rem;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
    }
    .column .card {
      display: inline-block;
      width: 100%;
    }
  }
   {% endcomment %}
