{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}{{ mensalidades.aluno }} | {% endblock %}

{%block 'conteudo' %}
<div class="menu-spacing"></div>

<div class="mensalidades-content">

<h1>{{ mensalidades.aluno }}</h1>

    <table class="table-link-mensalidades">
        <tbody class="table-link-mensalidades">
            <tr class="title-table">
                <td>Id</td>
                <td>Vencimento</td>
                <td>Aluno</td>
                <td>Curso</td>
                <td>Modulo</td>
                <td>Status</td>
                <td>Pagamento</td>
                <td>Valor</td>
                <td>Desconto</td>
                <td>Acréscimo</td>
                <td>Total</td>
            </tr>
            <tr>
                <td>{{ mensalidades.aluno }}</td>
                <td>{{ mensalidades.curso }}</td>
                <td>{{ mensalidades.modulo }}</td>
                <td>{{ mensalidades.status }}</td>
                <td>{{ mensalidades.pagamento }}</td>
                <td>{{ mensalidades.valor }}</td>
                <td>{{ mensalidades.desc }}</td>
                <td>{{ mensalidades.acres }}</td>
                <td>{{ mensalidades.total }}</td>
            </tr>

            <tr class="title-table">
                <td>Data criação</td>
            </tr>
            <tr>
                <td>{{ mensalidades.data_criacao|date:'d/m/y H:i:s' }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}